body{
    background: rgba(0, 0, 0,.9);
    margin: 0;
    color: rgb(250, 250, 250);
    font-family: 'Courier Prime', monospace;

}
h3{
    font-family: 'Anton', sans-serif;
}
.header::after{
    padding: 2rem 1rem;
    content:'';
    height: 100vh;
    width: 100%;
    background-image:url(../img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display:block;
    filter: blur(10px);
    -webkit-filter: blur(10px);
    transition: all 1000ms;
}
.header:hover::after{
    filter: blur(0px);
    -webkit-filter: blur(0px);
}
.header:hover .header-content{
    filter: blur(0.5px);
    -webkit-filter: blur(0.5px);
}
.header-content{
    position: absolute;
    z-index: 1;
    top: 10%;
    left: 50%;
    margin-top: 105px;
    margin-left: -145px;
    text-align: center;
    width: 300px;
    height: 350px;
    transition: all 100ms;
}

.header-content .logo{
    height: 350px;
    width: 300px;
}
.header-content .text{
    margin-top: 105px;
}
.title{
    font-family: 'Anton', sans-serif; 
    font-size: 2rem;
}
.text{
    line-height: 1.7;
    margin-top: 1rem;
}
.Services{
    width: 960px;
    margin: 100px;
    overflow: hidden;
    padding: 4rem 1rem;
    margin-top: 105px;
}
.grid-3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.grid-2{
    display: grid;
    grid-template-columns:  1fr 1fr;
}
.text-center{
    text-align: center;
    margin:auto;
}
.bg-light{
    padding: 5rem;
    background: #fff;
    color : #333;
}
.bg-dark{
    padding: 5rem;
    background: rgb(32, 32, 32);
    color:#fff;
    
}
.footer{
    padding: 2rem;

}
.footer p {
    margin :10px ;
}


@media(max-width:560px){
    .header::after{
        height: 50vh;
    }
    .header-content{
        top:2%;
        margin-top: 5px;
    }

    .header-content .logo{
        height: 150px;
        width: 100px;
    }
    .header-content .title{
        font-size: 1rem;
    }
    .header-content .text{
        font-size: 0.5rem;
    }
    .grid-3,.grid-2{
        grid-template-columns: 1fr;
    }
    .Services{
        padding: 1rem 1 rem;
    }

}

@media(max-height:500px){
    .header-content .text{
        display: none;
    
    }
    .header-content .logo{
        height: 200px;
        width: 150px;
    }
    .header-content{
        top:-6rem;
    }
    .header-content .title{
        top:0px;
    }
}